# 스타벅스, 커피빈 매장 현황 분석
## 황 성 윤

In [1]:
import numpy as np
import pandas as pd

In [2]:
starbucks = pd.read_csv('data/starbucks_enter.csv', encoding='EUC-KR', sep=',')
coffeebean = pd.read_csv('data/coffeebean_enter.csv', encoding='EUC-KR', sep=',')

In [3]:
starbucks.head()

   Unnamed: 0 광역시도   시도  스타벅스입점      ID  y   x
0           0  강원도  강릉시     3.0      강릉  3  11
1           1  강원도  고성군     1.0  고성(강원)  0  10
2           2  강원도  동해시     1.0      동해  4  11
3           3  강원도  속초시     3.0      속초  1  10
4           4  강원도  원주시     6.0      원주  5  10

In [4]:
coffeebean.head()

   Unnamed: 0 광역시도   시도  커피빈입점  ID  y   x
0           0  강원도  원주시    1.0  원주  5  10
1           1  경기도  광명시    1.0  광명  4   4
2           2  경기도  구리시    1.0  구리  3   8
3           3  경기도  군포시    1.0  군포  9   5
4           4  경기도  김포시    2.0  김포  3   4

In [5]:
starbucks = starbucks[['스타벅스입점', 'ID']]
coffeebean = coffeebean[['커피빈입점', 'ID']]

In [8]:
sb_cb = pd.merge(starbucks, coffeebean, on=['ID'], how='outer')
sb_cb = sb_cb.fillna(0)
sb_cb.to_csv("data/sb_cb.csv", encoding='EUC-KR', sep=',')
sb_cb.head()

   스타벅스입점      ID  커피빈입점
0     3.0      강릉    0.0
1     1.0  고성(강원)    0.0
2     1.0      동해    0.0
3     3.0      속초    0.0
4     6.0      원주    1.0

In [9]:
sb_cb['총매장수'] = sb_cb['스타벅스입점'] + sb_cb['커피빈입점']

In [10]:
sb_cb

     스타벅스입점      ID  커피빈입점  총매장수
0       3.0      강릉    0.0   3.0
1       1.0  고성(강원)    0.0   1.0
2       1.0      동해    0.0   1.0
3       3.0      속초    0.0   3.0
4       6.0      원주    1.0   7.0
5       5.0      춘천    0.0   5.0
6       3.0      홍천    0.0   3.0
7       3.0      과천    0.0   3.0
8       8.0      광명    1.0   9.0
9       2.0      광주    0.0   2.0
10      3.0      구리    1.0   4.0
11      4.0      군포    1.0   5.0
12      8.0      김포    2.0  10.0
13      7.0     남양주    1.0   8.0
14      2.0     동두천    0.0   2.0
15      5.0      시흥    0.0   5.0
16      2.0      안성    0.0   2.0
17      4.0      양주    0.0   4.0
18      1.0      양평    0.0   1.0
19      3.0      여주    0.0   3.0
20      3.0      오산    0.0   3.0
21      1.0      의왕    0.0   1.0
22     10.0     의정부    0.0  10.0
23      5.0      이천    1.0   6.0
24      5.0      파주    2.0   7.0
25      5.0      평택    1.0   6.0
26      2.0      포천    0.0   2.0
27      9.0      하남    1.0  10.0
28     11.0      화성    5.0  16.0
29      4.0      거제    0.0   4.0
..      ...     ...    ...   ...
222     0.0      영광    0.0   0.0
223     0.0      장성    0.0   0.0
224     0.0   전주 완산    0.0   0.0
225     0.0      임실    0.0   0.0
226     0.0      산청    0.0   0.0
227     0.0      함안    0.0   0.0
228     0.0   창원 합포    0.0   0.0
229     0.0      함평    0.0   0.0
230     0.0      담양    0.0   0.0
231     0.0      순창    0.0   0.0
232     0.0      구례    0.0   0.0
233     0.0      하동    0.0   0.0
234     0.0   창원 의창    0.0   0.0
235     0.0   창원 성산    0.0   0.0
236     0.0   창원 진해    0.0   0.0
237     0.0   부산 영도    0.0   0.0
238     0.0      신안    0.0   0.0
239     0.0      곡성    0.0   0.0
240     0.0      화순    0.0   0.0
241     0.0   창원 회원    0.0   0.0
242     0.0      고흥    0.0   0.0
243     0.0      남해    0.0   0.0
244     0.0  고성(경남)    0.0   0.0
245     0.0      해남    0.0   0.0
246     0.0      영암    0.0   0.0
247     0.0      진도    0.0   0.0
248     0.0      강진    0.0   0.0
249     0.0      장흥    0.0   0.0
250     0.0      보성    0.0   0.0
251     0.0      완도    0.0   0.0

[252 rows x 4 columns]