# SQLite3

## 1. SQLite3 개요

### 1.1 경량 DBMS
- 별도의 서버가 필요 없음
- 모바일 기기에서 많이 활용되고 있음
- 파이썬3에 기본 내장되어 있음
- 파일 또는 메모리에 DB 생성
- 참고자료: SQLite로 가볍게 배우는 데이터베이스 (WikiDocs)

### 1.2 데이터 타입
- 동적 데이터 타입
- Null, Integer, Real, Text, Blob 유형이 있음 (Boolean, Date, Time 없음)
- 다른 유형 데이터를 삽입해도 컬럼에 맞게 알아서 들어감.
- 다른 DB에서 사용하는 데이터유형 이름 그대로 사용해도 무방

### 1.3 DBMS 관리 툴
- SQLite Expert (http://www.sqliteexpert.com/download.html)
- Personal version은 freeware 이므로 사용할 수 있음.

## 2. 파이썬에서 사용하는 방법

### 2.1 데이터베이스 접속

In [ ]:
# import sqlite3 
# conn = sqlite3.connect(':memory:') # 메모리 DB 접속(일회성)
# conn = sqlite3.connect('./test.db') # 파일 DB 접속
# . . .
# 데이터 쿼리 수행
# . . .
# conn.commit() # 변경사항 저장
# conn.close()

In [31]:
import sqlite3
conn = sqlite3.connect('./test.db') # 파일 DB 접속

### 2.2 with 문 이용

In [ ]:
# import sqlite3
# conn = sqlite3.connect('./test.db')
# with conn:  # close 이용 안 할 시
#     cur = conn.cursor()
#     cur.execute("SELECT * FROM test_table")
#     rows = cur.fetchall()
#     for row in rows:
#         print(row)

## 3. Data Definition Language(DDL)

### 3.1 테이블 생성

In [32]:
cur = conn.cursor()

In [33]:
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

### 3.2 테이블 변경

In [ ]:
cur.execute('ALTER TABLE Eagles ADD COLUMN birth INTEGER')
cur.execute('ALTER TABLE Eagles RENAME TO Eagles.backup')

### 3.3 테이블 삭제

In [ ]:
cur.execute('DROP TABLE Eagles')

## 4. 데이터 조작 언어(Data Manipulation Language, DML)

### 4.1 데이터 삽입

In [ ]:
## 기본 스트링 쿼리
# cur = conn.cursor()
# cur.execute("INSERT INTO Eagles VALUES \
#             (1, '하주석', '내야수', '우투좌타', '신일고', 184);")
# cur.execute("INSERT INTO Eagles VALUES \
#             (57, '정우람', '투수'), (8, '정근우', '내야수');")
## 파라메터: 튜플 사용
# back_no = 50
# name = '이성열'
# position = '외야수'
# cur = conn.cursor()
# sql = 'INSERT INTO Eagles VALUES (?, ?, ?);'
# cur.execute(sql, (back_no, name, position))
## 튜플 리스트 사용
# players = ((22, '이태양', '투수'), (13, '최재훈', '포수'))
# cur = conn.cursor()
# sql = 'INSERT INTO Eagles VALUES (?, ?, ?);'
# cur.executemany(sql, players)

In [35]:
# 기본 스트링 쿼리
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
            (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
            (9, '이동훈', '외야수', '좌투좌타', '상원고', 178); ")

IntegrityError: UNIQUE constraint failed: Eagles.back_no

In [36]:
conn.commit()

In [37]:
import numpy as np
import pandas as pd
players = pd.read_csv('players.csv', encoding='EUC-KR')

In [40]:
players

   back_no name position hands highschool  height
0       17  김범수       투수  좌투좌타      천안북일고     181
1       38  안영명       투수  우투우타      천안북일고     183
2       36  장민재       투수  우투우타      광주제일고     184
3       13  최재훈       포수  우투우타        덕수고     178
4       52  김태균      내야수  우투우타      천안북일고     185
5        6  오선진      내야수  우투우타        성남고     179
6       66  유장혁      외야수  우투우타      광주제일고     186
7      108  김관호       포수  우투우타        야탑고     179
8       65  김진욱       투수  우투우타        유신고     176
9       43  정은원      내야수  우투좌타        인천고     177

In [41]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), players.iloc[i,1], players.iloc[i,2],
                      players.iloc[i,3], players.iloc[i,4], int(players.iloc[i,5])))
conn.commit()

IntegrityError: UNIQUE constraint failed: Eagles.back_no

In [42]:
conn.close()

### 4.2 데이터 조회

In [ ]:
## 순회 조회
# cur = conn.cursor()
# cur.execute('SELECT * FROM Eagles')
# for row in cur:
#     print(row)
## 단건 조회
# cur = conn.cursor()
# cur.execute('SELECT * FROM Eagles')
# row = cur.fetchone()
## 다건 조회
# rows = cur.fetchmany(2)
## 모두 조회
# rows = cur.fetchall()
# for row in rows:
#     print(row)
## 필요한 column만 조회
# cur = conn.cursor()
# cur.execute("SELECT name FROM Eagles WHERE back_no > 10")
# rows = cur.fetchall();
# for row in rows:
#     print(row)
## 원하는 순서 및 갯수
# cur.execute('SELECT * FROM Eagles ORDER BY name')
# cur.execute('SELECT * FROM Eagles ORDER BY name DESC')
# cur.execute('SELECT * FROM Eagles ORDER BY name DESC LIMIT 1')
# row = cur.fetchone()
# print(row[1]) # ‘하주석’
## 집계 함수
# cur.execute('SELECT count(*) FROM Eagles')
# count = cur.fetchone()
# max(column), min(column), sum(column), avg(column)

### 4.3 데이터 검색

In [ ]:
## 기본 스트링 쿼리
# cur = conn.cursor()
# cur.execute("SELECT * FROM Eagles WHERE position='내야수';")
# rows = cur.fetchall();
# for row in rows:
#     print(row)
## Placeholder
# cur = con.cursor()
# back_no = 50
# cur.execute('SELECT * FROM Eagles WHERE back_no=?;', (back_no,))
# player = cur.fetchone()
# print(player[0]) # 50
## Grouping
# sql = 'SELECT position, count(*) FROM Eagles GROUP BY position'

### 4.4 데이터 변경

In [ ]:
# position = '외야수'
# back_no = 8
# cur.execute('UPDATE Eagles SET position=? WHERE back_no=?;',
#             (position, back_no))
# cur.execute('SELECT * FROM Eagles WHERE back_no=?', (back_no,))
# cur.fetchone()
# data = ((1995,1), (1986,57))
# sql = 'UPDATE Eagles SET position=? WHERE back_no=?'
# cur.executedmany(sql, data)

### 4.5 데이터 삭제

In [ ]:
# cur = con.cursor()
# cur.execute('DELETE FROM Eagles WHERE back_no=1;')