# 8월 1일 과제
## 황 성 윤

In [3]:
import sqlite3

### 1. 데이터베이스 접속

In [4]:
conn = sqlite3.connect('./test.db') # 파일 DB 접속

### 2. 테이블 생성

In [5]:
cur = conn.cursor()
# Eagles table
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

### 3. 데이터 삽입 및 처리

In [6]:
# 기본 스트링 쿼리
cur = conn.cursor()
cur.execute("INSERT INTO Eagles('back_no', 'name', 'position') VALUES (30, '호잉', '외야수');") 
conn.commit() # 변경사항 저장

In [7]:
cur = conn.cursor()
# all 이면 생략
cur.execute("INSERT INTO Eagles VALUES \
            (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
            (9, '이동훈', '외야수', '좌투좌타', '상원고', 178); ")
conn.commit()

In [8]:
# 파일에서 읽어서 데이터베이스에 쓰기
import numpy as np
import pandas as pd
players = pd.read_csv('.\players.csv', encoding='EUC-KR')
players

   back_no name position hands highschool  height
0       17  김범수       투수  좌투좌타      천안북일고     181
1       38  안영명       투수  우투우타      천안북일고     183
2       36  장민재       투수  우투우타      광주제일고     184
3       13  최재훈       포수  우투우타        덕수고     178
4       52  김태균      내야수  우투우타      천안북일고     185
5        6  오선진      내야수  우투우타        성남고     179
6       66  유장혁      외야수  우투우타      광주제일고     186
7      108  김관호       포수  우투우타        야탑고     179
8       65  김진욱       투수  우투우타        유신고     176
9       43  정은원      내야수  우투좌타        인천고     177

In [9]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                      players.iloc[i,1], players.iloc[i,2],
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit()

In [10]:
cur = conn.cursor()
cur.execute("UPDATE Eagles SET hands='우투좌타', highschool='미상', height=190 \
             WHERE back_no=30;")
conn.commit()

In [11]:
# 순회 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
for row in cur:
    print(row)  # tuple

(30, '호잉', '외야수', '우투좌타', '미상', 190)
(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(9, '이동훈', '외야수', '좌투좌타', '상원고', 178)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(6, '오선진', '내야수', '우투우타', '성남고', 179)
(66, '유장혁', '외야수', '우투우타', '광주제일고', 186)
(108, '김관호', '포수', '우투우타', '야탑고', 179)
(65, '김진욱', '투수', '우투우타', '유신고', 176)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)